/* Different colors to use for the page:
#7A7A7D
#32324A
#55557D
#C5C5C9
*/
body, html {
  background-color: #262626;
}

.hero_image {
  position: relative;
  text-align: center;
  width: 100%;
  float: none;
}

.hero_text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

p {
  color: white;
}
