/* Different colors to use for the page:
#7A7A7D
#32324A
#55557D
#C5C5C9
*/
body, html {
  height: 100%;
  margin: 0;
  background-color: black;
}

.hero-image {
  background-image: url("https://github.com/B0bBy104/howto/blob/main/resources/images/valley_shader.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }

p {
  background-image: url("https://github.com/B0bBy104/howto/blob/main/resources/images/valley_shader.png");
  color: white;
}
