* {
  background-color: #2f2f30;
}

/* Different colors to use for the page:
#7A7A7D
#32324A
#55557D
#C5C5C9
*/

#hero_image {
  background-image: url("../images/valley_shader.png");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  float: none;
}

.hero_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

a {
  color: black;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 26px;
  transition-duration: 0.3s;
}

.link1 {
  background-color: #ffffff;
}

.link1:hover {
  background-color: gray;
  color: white;
}
